* {
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 20px;
  background-color: rgb(236, 221, 221);
}
img {
  display: block;
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.search-form {
  position: fixed;
  z-index: 69;

  display: flex;
  width: 100vw;
  padding: 5px;
  justify-content: center;

  background-color: rgb(123, 93, 131);
  font-size: 28px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 6px 5px rgba(15, 15, 15, 0.2);
}
.search-with-submit-wrapper {
  position: relative;
  width: 400px;
  height: 45px;
}
input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}
.submit-btn {
  position: absolute;
  top: 18%;
  right: 3%;
  width: 30px;
  height: 30px;
  background-image: url("https://img.freepik.com/premium-vector/search-icon-magnifying-glass-symbol-outline-icon_543062-139.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover {
  transform: scale(1.19);
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  padding-top: 90px;
  padding-bottom: 30px;
}
.photo-card {
  width: 400px;
  height: 400px;

  background-color: rgb(159, 192, 192);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-card:hover {
  transform: scale(1.03)
}

.info {
  display: flex;
  justify-content: center;
  height: 15%;
  column-gap: 30px;
}
.info b {
  font-size: 18px;
}
.info span {
  font-size: 14px;
}

.move-top {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 50px;
  height: 50px;

  background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--qD9-5ayL--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/wbbo00ylt9czx6y4n6pn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.move-top:hover {
  transform: scale(1.5);
}

.load-more {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;

  font-family: 'Noto Serif', serif;
  background-color: rgb(153, 25, 110);
  color: aliceblue;
  font-size: 24px;
  border: none;
  border-radius: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover {
  transform: skew(-20deg);
}